

body
{
    background-color : gray;
}

.main
{
    width: 500px;
    margin: auto;
    border-color: blue;
    border-radius: 10px;
    border-width: 10px;
}

.screen
{
    margin: auto;
    height: 300px;
    background-color: black;
    width: 500px;
    color: white;
    margin-top: 70px;
    border-radius: 20px;
}

.value-button
{
    display: grid;
    margin: auto;
    height: 500px;
    width: 500px;
    background-color: black;
    margin-top: 10px;
    color: white;
    border-radius: 20px;   
}

.b-r1,.b-r2,.b-r3,.b-r4,.b-r5
{
    display:flex;
    justify-content: space-between;
    
}


.b1{

    background-color: black; 
    border: none;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 100px;
    border-width: 1px;
    margin: 10px;
    animation: ri 30ms  delay iteration-count direction fill-mode;
}


/*ripple effect*/

.b1 {
    background-position: center;
    transition: background 0;
  }
  .b1:active {
    background-color: yellowgreen;
    background-size: 100%;
    transition: background 0s;
  }

.fun
{
    background-color: orangered;
}